@page "/counter"
@inherits OwningComponentBase<ViewService>
@inject IServiceProvider SpaServiceProvider

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        Service.SetServices(SpaServiceProvider);
    }

    private void IncrementCount()
    {
        var x = Service.Uid;
        var y = Service.NotificationService.Uid;
        currentCount++;
    }

    protected override void Dispose(bool disposing)
    {
        Debug.WriteLine($"{this.GetType().Name} - Disposed instance");
        base.Dispose(disposing);
    }
}
